@use "../mixins" as *;
@use "../variables" as *;

.main-nav-list {
  background-color: $color-darkest-blue;

  @include only-mobile {

    position: absolute;
    z-index: 1;
    min-width: 320px;
    width: 100%;
    padding-bottom: 1.875rem;
  }


  &--closed {
    display: none;
  }

  &--open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  &--nojs {
    display: flex;
  }


  @include tablet {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  @include desktop {
    gap: 6.563rem;
  }
}

.main-nav-list__item:nth-child(2) {
  @include only-mobile {
    margin-bottom: 1.25rem;
  }
}

.main-nav-list__item:last-child {
  @include desktop {
    margin-left: 2.813rem;
  }
}


.main-nav-list__link {
  color: $color-white;
  box-sizing: border-box;
  opacity: 0.6;
  transition: all .3ms;

  &:hover {
    color: $color-pink-light;
    opacity: 1;
  }

  &:active {
    color: $color-pink;
    opacity: 1;
  }

  &[aria-disabled="true"] {
    color: $color-pink;
    opacity: 0.3;
    cursor: not-allowed;
  }


  @include only-mobile {
    display: block;
    padding: 0.938rem 6.2rem;
  }

  @include desktop {
    font-size: 1.5rem;
  }
}

.main-nav-list__button {
  padding: 1rem 1.375rem;
  color: $color-white;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid $color-white;

  &:hover {
    background-color: $color-pink-light;
    border-color: transparent;
  }

  &:active {
    background-color: $color-pink;
    color: $color-darkest-blue;
    border-color: transparent;
  }

  &:disabled{
    background-color: $color-pink;
    color: $color-darkest-blue;
    border-color: transparent;
    opacity: 0.3;
    cursor: not-allowed;
  }

  @include  only-mobile {
    padding: 0.938rem 1.5rem;
    border: none;
    background-color: $color-pink;
    border-radius: $border-radius;
  }

  @include tablet {
    padding: 1rem 1.2rem;
  }

}
