@use '../variables.scss' as *;
@use '../mixins.scss' as *;

.modal {
  position: absolute;
  width: clamp(17.5rem, 70vw, 43rem);
  padding: 3rem 0.938rem  0.938rem 0.938rem;
  background-color: $color-darker-blue;
  border-radius: 1.188rem;
  border: 0.125rem solid $color-dark-blue;

  @include  tablet{
    padding: 4.25rem 2.75rem 2.75rem 2.75rem;
  }

  @include  pre-desktop {
    padding: 5.25rem 3.75rem 3.75rem 3.75rem;
    border: 0.188rem solid $color-dark-blue;
  }
}

.modal__title {
  margin-bottom: 0.375rem;
  font-family: $heading-font;
  font-size: clamp(1rem, 5vw, 2.75rem);
  font-weight: 500;
  text-align: center;
}


.modal__text {
  margin-bottom: 0.938rem;
  text-align: center;
  font-size: clamp(0.9rem, 2.5vw, 1.5rem);
}

.modal__image {
  margin-inline: auto;
  width: 170px;
  margin-bottom: 0.938rem;

  @include  pre-desktop {
    width: 340px;
  }

  @include desktop {
    width: 359px;
  }
}


.modal__close {
  position: absolute;
  top: 0.938rem;
  right: 0.938rem;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0;
  border: 0;
  background-color: transparent;


  &::before {
    content: "";
    position: absolute;
    top: 18%;
    width: 0.063rem;
    height: 1.5rem;
    background-color: $color-white;
    transform: rotate(45deg);
  }


  &::after {
    content: "";
    position: absolute;
    top: 18%;
    width: 0.063rem;
    height: 1.5rem;
    background-color: $color-white;
    transform: rotate(-45deg);
  }
}

