@use '../mixins' as *;
@use '../variables' as *;

.page-header {
  margin-bottom: 18px;
  max-width: $desktop;
  margin-inline: auto;

  @include desktop {
    margin-bottom: 6rem;
  }
}

.page-header__bar{
  display: flex;
  justify-content: space-between;

  @include only-mobile {
    padding-top: 0.75rem;
    padding-inline: 0.938rem;
  }
}

.page-header__nav {
  position: relative;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75rem;
    padding-inline: 0.938rem;
  }

  @include desktop {
    padding-block: 1.594rem;
  }

}

.page-header__toggler {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  border: 0;
  background-color: transparent;

  &--closed {
    &::before {
      position: absolute;
      top: 25%;
      right: 5px;
      width: 24px;
      height: 0.125rem;
      content: "";
      background-color: $color-white;
      box-shadow: 0 8px 0 $color-white,0 16px 0 0 $color-white
    }
  }

  &--open {
    &::before {
      position: absolute;
      top: 18%;
      width: 1.5px;
      height: 24px;
      content: "";
      background-color: $color-white;
      transform: rotate(45deg);
    }
  }

  &--open {
    &::after {
      position: absolute;
      top: 18%;
      width: 1.5px;
      height: 24px;
      content: "";
      background-color: $color-white;
      transform: rotate(-45deg);
    }
  }

  &:hover {
    cursor: pointer;
  }

  @include tablet {
    display: none;
  }
}

.page-header__logo-link {
  @include tablet {
    max-width: 80px;
  }

  @include desktop {
    max-width: 103px;
  }

}


