@use 'variables.scss' as *;

.container {
  max-width: calc(($container-width + $container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: $container-padding-x;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}


