$main-font: 'Evolventa', Arial, sans-serif;
$heading-font: 'Involve', Arial, sans-serif;
$color-white: #fff;
$color-pink-light: #F706A3;
$color-pink: #CA0078;
$color-blue-wave: #81F3F8;
$color-blue: #5A73EF;
$color-dark-blue: #1B1A2C;
$color-darker-blue: #161524;
$color-darkest-blue: #0C0D12;
$container-width: 685px;
$container-padding-x: 15px;

$max-desktop: 1920px;
$desktop: 1400px;
$pre-desktop: 1024px;
$tablet: 768px;
$mobile: 320px;
$mobile-only: 767px;

$border-radius: 9px;

